
:root{
--primary-color: black;
}


.introduction {
    color: var(--primary-color);
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.score{
    display: flex;
    align-items: flex-start;
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
}

.timer{
    display: flex;
    align-items: flex-end;
    color:var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

p{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:var(--primary-color);
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}